<!--
assignment-edit component loads details of an assignment from database. This html displays an assignment's existing information
along with various controls for editing that information. When 'update' button is clicked, changed information is sent
back to the database to be stored.
-->

<div id="list" class="container">
  <div class="row">
    <div class="col-md-6">
      <section>
        <h1 *ngIf="isAssigned">{{ assignment.consultantName }} - {{ assignment.projectName }}</h1>
        <h1 *ngIf="!isAssigned">Unassigned - {{ assignment.projectName }}</h1>
        <form (ngSubmit)="updateAssignment(assignment._id, assignment.consultantId)" #assignmentForm="ngForm">

          <div class="form-group">
            <label>Project <input type="text" class="form-control" [(ngModel)]="assignment.projectName" name="projectName" value="{{ assignment.projectName }}" disabled required="false"></label><br>
            <br>
            <label>Language <input type="text" class="form-control" [(ngModel)]="assignment.language" name="language" value="{{ assignment.language }}" disabled required="false"></label><br>
            <br>
            <label>Region <input type="text" class="form-control" [(ngModel)]="assignment.translationRegion" name="translationRegion" value="{{ assignment.translationRegion }}" disabled required="false"></label>
          </div>

          <div class="form-group">
            <label>Notes <input type="text" class="form-control" [(ngModel)]="assignment.notes" name="notes" required="false"></label>
          </div>

          <h3>Dates</h3>
          <div class="form-group">
            <label>Start <input type="date" class="form-control" [(ngModel)]="assignment.startDate" name="startDate" required></label>
            <label>End <input type="date" class="form-control" [(ngModel)]="assignment.endDate" name="endDate" required></label>
          </div>

          <h3>Testament</h3>
          <div class="form-group">
            <input type="radio" name="testament" [(ngModel)]="assignment.testament" value="Old Testament"> Old Testament<br>
            <input type="radio" name="testament" [(ngModel)]="assignment.testament" value="New Testament"> New Testament
          </div>

          <h3>Media</h3>
          <div class="form-group">
            <input type="radio" name="media" [(ngModel)]="assignment.media" value="Written"> Written<br>
            <input type="radio" name="media" [(ngModel)]="assignment.media" value="Audio"> Audio<br>
            <input type="radio" name="media" [(ngModel)]="assignment.media" value="Storytelling"> Storytelling
          </div>

          <div class="form-group">
            <h3>Assignment Type</h3>
            <input type="radio" name="assignmentType" [(ngModel)]="assignment.assignmentType" value="Administration (Supervisors Only)" required> Administration (Supervisors Only)<br>
            <input type="radio" name="assignmentType" [(ngModel)]="assignment.assignmentType" value="Off-Site Checking" required> Off-Site Checking<br>
            <input type="radio" name="assignmentType" [(ngModel)]="assignment.assignmentType" value="On-Site Checking" required> On-Site Checking<br>
            <input type="radio" name="assignmentType" [(ngModel)]="assignment.assignmentType" value="Partnership Development (supported staff)" required> Partnership Development (supported staff)<br>
            <input type="radio" name="assignmentType" [(ngModel)]="assignment.assignmentType" value="Prep to Check" required> Prep to Check<br>
            <input type="radio" name="assignmentType" [(ngModel)]="assignment.assignmentType" value="Professional Growth" required> Professional Growth<br>
            <input type="radio" name="assignmentType" [(ngModel)]="assignment.assignmentType" value="Special Projects" required> Special Projects<br>
            <input type="radio" name="assignmentType" [(ngModel)]="assignment.assignmentType" value="Training Others" required> Training Others
          </div>

          <h3>Roles Needed</h3>
          <div class="form-group">
            <input type="checkbox" name="isAudioToAudioRole" [(ngModel)]="assignment.isAudioToAudioRole" value="Audio to Audio Translation Consultant"> Audio to Audio Translation Consultant<br>
            <input type="checkbox" name="isGuestScholarRole" [(ngModel)]="assignment.isGuestScholarRole" value="Guest Scholar (Exegetical, Linguistic, Bible)"> Guest Scholar (Exegetical, Linguistic, Bible)<br>
            <input type="checkbox" name="isLinguisticConsultantRole" [(ngModel)]="assignment.isLinguisticConsultantRole" value="Linguistic Consultant"> Linguistic Consultant<br>
            <input type="checkbox" name="isManagerRole" [(ngModel)]="assignment.isManagerRole" value="Manager - Translation Consultant"> Manager - Translation Consultant<br>
            <input type="checkbox" name="isStoryCheckerRole" [(ngModel)]="assignment.isStoryCheckerRole" value="Story Checker"> Story Checker<br>
            <input type="checkbox" name="isTranslationConsultantInTrainingRole" [(ngModel)]="assignment.isTranslationConsultantInTrainingRole" value="Translation CiT"> Translation CiT<br>
            <input type="checkbox" name="isTranslationConsultantRole" [(ngModel)]="assignment.isTranslationConsultantRole" value="Translation Consultant"> Translation Consultant
          </div>

          <h3>Consultant Assigned</h3>
          <div class="form-group">
            <label>Consultant Name
              <input type="text" class="form-control" [(ngModel)]="assignment.consultantName" name="consultantName" value="{{ assignment.consultantName }}" disabled required="false">
            </label>
            <button *ngIf="isAssigned" type="button" (click)="removeConsultant()">Remove Consultant</button>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!assignmentForm.form.valid">Update</button>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
