<!--
assignment-create component loads some project details from the database, but is otherwise an empty form.
This html displays a new assignment's project information along with various controls for editing assignment-specific information.
When 'save' button is clicked, information is sent to the database to be stored as a new assignment.
-->

<div id="list" class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>New Assignment</h1>
      <section>
        <form (ngSubmit)="createAssignment(project._id)" #assignmentForm="ngForm">

          <div class="form-group">
            <label>Project <input type="text" class="form-control" [(ngModel)]="assignment.projectName" name="projectName" value="{{ assignment.projectName }}" disabled required="false"></label><br>
            <br>
            <label>Language <input type="text" class="form-control" [(ngModel)]="assignment.language" name="language" value="{{ assignment.language }}" disabled required="false"></label><br>
            <br>
            <label>Region <input type="text" class="form-control" [(ngModel)]="assignment.translationRegion" name="translationRegion" value="{{ assignment.translationRegion }}" disabled required="false"></label>
          </div>

          <div class="form-group">
            <label>Notes <input type="text" class="form-control" [(ngModel)]="assignment.notes" name="notes" required="false"></label>
          </div>

          <div class="form-group">
            <h3>Dates</h3>
            <label>Start <input type="date" class="form-control" [(ngModel)]="assignment.startDate" name="startDate" required></label>
            <label>End <input type="date" class="form-control" [(ngModel)]="assignment.endDate" name="endDate" required></label>
          </div>

          <div class="form-group">
            <h3>Testament</h3>
            <input type="radio" name="testament" [(ngModel)]="assignment.testament" value="Old Testament" required> Old Testament<br>
            <input type="radio" name="testament" [(ngModel)]="assignment.testament" value="New Testament" required> New Testament
          </div>

          <div class="form-group">
            <h3>Media</h3>
            <input type="radio" name="media" [(ngModel)]="assignment.media" value="Written" required> Written<br>
            <input type="radio" name="media" [(ngModel)]="assignment.media" value="Audio" required> Audio<br>
            <input type="radio" name="media" [(ngModel)]="assignment.media" value="Storytelling" required> Storytelling
          </div>

          <div class="form-group">
            <h3>Roles Needed</h3>
            <input type="checkbox" name="isAudioToAudioRole" [(ngModel)]="assignment.isAudioToAudioRole" value="Audio to Audio Translation Consultant"> Audio to Audio Translation Consultant<br>
            <input type="checkbox" name="isGuestScholarRole" [(ngModel)]="assignment.isGuestScholarRole" value="Guest Scholar (Exegetical, Linguistic, Bible)"> Guest Scholar (Exegetical, Linguistic, Bible)<br>
            <input type="checkbox" name="isLinguisticConsultantRole" [(ngModel)]="assignment.isLinguisticConsultantRole" value="Linguistic Consultant"> Linguistic Consultant<br>
            <input type="checkbox" name="isManagerRole" [(ngModel)]="assignment.isManagerRole" value="Manager - Translation Consultant"> Manager - Translation Consultant<br>
            <input type="checkbox" name="isStoryCheckerRole" [(ngModel)]="assignment.isStoryCheckerRole" value="Story Checker"> Story Checker<br>
            <input type="checkbox" name="isTranslationConsultantInTrainingRole" [(ngModel)]="assignment.isTranslationConsultantInTrainingRole" value="Translation CiT"> Translation CiT<br>
            <input type="checkbox" name="isTranslationConsultantRole" [(ngModel)]="assignment.isTranslationConsultantRole" value="Translation Consultant"> Translation Consultant
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success" [disabled]="!assignmentForm.form.valid">Save</button>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
