<!--
assign-consultant component loads details of an assignment from database. This html displays an assignment's information
along with a list of the best consultants to be matched to the assignment. When 'assign' button is clicked on a row of
consultants table, that consultant's information is sent back to the database to be stored in the assignment as the
assignment's assigned consultant.
-->
<div id="list" class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Assign Consultant</h1>
      <section>

        <div>
          <h3>Assignment Information</h3>
          <p><b>Project: </b>{{ assignment.projectName }}</p>
          <p><b>Start Date: </b>{{ assignment.startDate }}</p>
          <p><b>End Date: </b>{{ assignment.endDate }}</p>
          <p><b>Language: </b>{{ assignment.language }}</p>
          <p><b>Testament: </b>{{ assignment.testament }}</p>
          <p><b>Region: </b>{{ assignment.translationRegion }}</p>
          <p><b>Medium: </b>{{ assignment.media }}</p>
          <p><b>Notes: </b>{{ assignment.notes }}</p>
          <p><b>Type: </b>{{ assignment.assignmentType }}</p>

          <b>Roles Needed: </b><br>
          <p style="text-indent: 10px" *ngIf="assignment.isAudioToAudioRole">Audio to Audio Translation Consultant<br></p>
          <p style="text-indent: 10px" *ngIf="assignment.isGuestScholarRole">Guest Scholar (Exegetical, Linguistic, Bible)<br></p>
          <p style="text-indent: 10px" *ngIf="assignment.isLinguisticConsultantRole">Linguistic Consultant<br></p>
          <p style="text-indent: 10px" *ngIf="assignment.isManagerRole">Manager - Translation Consultant<br></p>
          <p style="text-indent: 10px" *ngIf="assignment.isStoryCheckerRole">Story Checker<br></p>
          <p style="text-indent: 10px" *ngIf="assignment.isTranslationConsultantInTrainingRole">Translation CiT<br></p>
          <p style="text-indent: 10px" *ngIf="assignment.isTranslationConsultantRole">Translation Consultant<br></p>
        </div>

        <div>
          <br><h3>Top Consultant Matches</h3>
          <h5>Filter: <input type="text" placeholder="Consultant Name" [(ngModel)]="searchTermsConsultantName"></h5>

          <table class="table">
            <thead style="display: block; width: 100%">
            <th>Match Score</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
            </thead>
            <tbody style="display: block; width: 100%; height: 215px; overflow-y: scroll">
            <tr *ngFor="let consultant of consultants | filterConsultantName: searchTermsConsultantName; let i = index" (click)="this.getConsultant(consultant._id); this.setClickedRow(i)" [class.active]="i == selectedRow" style="cursor: pointer">
              <td>{{ consultant.score }}</td>
              <td>{{ consultant.firstName }}</td>
              <td>{{ consultant.lastName }}</td>
              <td>
                <button (click)="this.assignConsultant(assignment._id, consultant._id, (consultant.firstName + ' ' + consultant.lastName))">Assign</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div>
          <h3>Selected Consultant: {{ selectedConsultant.firstName }} {{ selectedConsultant.lastName }}</h3>
          <p><b>Region: </b>{{ selectedConsultant.translationRegion }}</p>
          <p><b>Language: </b>{{ selectedConsultantLanguage.language }}</p>
          <p style="text-indent: 10px"><b>Reading: </b>{{ selectedConsultantLanguage.reading }}</p>
          <p style="text-indent: 10px"><b>Writing: </b>{{ selectedConsultantLanguage.writing }}</p>
          <p style="text-indent: 10px"><b>Speaking: </b>{{ selectedConsultantLanguage.speaking }}</p>
          <p style="text-indent: 10px"><b>Listening: </b>{{ selectedConsultantLanguage.listening }}</p>
          <p><b>Matched Testament: </b>{{ selectedConsultantTestament }}</p>
          <p><b>Matched Media: </b>{{ selectedConsultantMedia }}</p>
          <b>Matched Roles: </b>
          <div *ngIf="selectedConsultantRoles.length > 0"><p style="text-indent: 10px" *ngFor="let role of selectedConsultantRoles">{{ role }}<br></p></div>
          <p *ngIf="selectedConsultantRoles.length === 0" style="text-indent: 10px">none</p>
          <p *ngIf="selectedConsultantAssignments.length === 0"><b>Previous Assignments on this Project: </b> none </p>
          <b *ngIf="selectedConsultantAssignments.length > 0">Previous Assignments on this Project: </b>
          <table *ngIf="selectedConsultantAssignments.length > 0" class="table">
            <thead>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Type</th>
            </thead>
            <tbody>
            <tr *ngFor="let assignment of selectedConsultantAssignments">
              <td>{{ assignment.startDate }}</td>
              <td>{{ assignment.endDate }}</td>
              <td>{{ assignment.assignmentType }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>
