<!--
assignment-edit component loads details of an assignment from database. This html displays an assignment's existing information
along with various controls for editing that information. When 'update' button is clicked, changed information is sent
back to the database to be stored.
-->
<div id="list" class="container">
  <div class="row">
    <div class="col-md-6">
      <section>
        <h1>Assign Consultant</h1>

        <div>
          <label>Project: </label>
          <p>{{ assignment.projectName }}</p>

          <label>Start Date: </label>
          <p>{{ assignment.startDate }}</p>

          <label>End Date: </label>
          <p>{{ assignment.endDate }}</p>

          <label>Language: </label>
          <p>{{ assignment.language }}</p>

          <label>Testament: </label>
          <p>{{ assignment.testament }}</p>

          <label>Region: </label>
          <p>{{ assignment.translationRegion }}</p>

          <label>Medium: </label>
          <p>{{ assignment.media }}</p>

          <label>Notes: </label>
          <p>{{ assignment.notes }}</p>

          <label>Type: </label>
          <p>{{ assignment.assignmentType }}</p>

          <label>Roles Needed: </label><br>
          <p *ngIf="assignment.isAudioToAudioRole">Audio to Audio Translation Consultant<br></p>
          <p *ngIf="assignment.isGuestScholarRole">Guest Scholar (Exegetical, Linguistic, Bible)<br></p>
          <p *ngIf="assignment.isLinguisticConsultantRole">Linguistic Consultant<br></p>
          <p *ngIf="assignment.isManagerRole">Manager - Translation Consultant<br></p>
          <p *ngIf="assignment.isStoryCheckerRole">Story Checker<br></p>
          <p *ngIf="assignment.isTranslationConsultantInTrainingRole">Translation CiT<br></p>
          <p *ngIf="assignment.isTranslationConsultantRole">Translation Consultant<br></p>
        </div>

        <div>
          <!--<label>ConsultantId: {{ selectedConsultant._id }} </label><br>-->
          <label>Name: </label>
          <p>{{ selectedConsultant.firstName }} {{ selectedConsultant.lastName }}</p>
          <label>Region: </label>
          <p>{{ selectedConsultant.translationRegion }}</p><br><br>

          <table class="table">
            <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
            </thead>
            <tbody>
            <tr *ngFor="let consultant of consultants">
              <td>{{ consultant.firstName }}</td>
              <td>{{ consultant.lastName }}</td>
              <td>
                <button (click)="this.getConsultant(consultant._id)">View Details</button>
              </td>
            </tr>
            </tbody>
          </table>

          <button (click)="this.assignConsultant(assignment._id)">Assign</button>
        </div>
      </section>
    </div>
  </div>
</div>
