<!--
Consultant component loads list of consultants from database.
This html displays a list containing consultant information along with button links to view assignments for a consultant or edit that consultant's details.
The list is filterable by the consultant's name and region.
The list is sortable by the consultant's last name and region.
-->

<div class="container">
  <h1>Consultants</h1>
  <div>
    <h5>Filter: <input type="text" placeholder="Consultant Name" [(ngModel)]="searchTermsName"> <input type="text" placeholder="Consultant Region" [(ngModel)]="searchTermsRegion"></h5>
  </div>
    <table class="table">
      <thead>
        <th>First Name</th>
        <th [class.active]="order === 'lastName'"
            (click)="setOrder('lastName')"
            class="mdl-data-table__cell--non-numeric">
          Last Name <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
        </th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th [class.active]="order === 'translationRegion'"
            (click)="setOrder('translationRegion')"
            class="mdl-data-table__cell--non-numeric">
          Region <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
        </th>
        <th>Actions</th>
      </thead>
      <tbody>
      <tr *ngFor="let consultant of consultants | orderBy: order:reverse:'case-insensitive'| filterName: searchTermsName | filterRegion: searchTermsRegion">
        <td>{{ consultant.firstName }}</td>
        <td>{{ consultant.lastName }}</td>
        <td>{{ consultant.phone }}</td>
        <td>{{ consultant.email}}</td>
        <td>{{ consultant.address}}</td>
        <td>{{ consultant.translationRegion}}</td>
        <td>
          <button [routerLink]="['/assignment/consultant', consultant._id]" type="button">Workload</button>
          <button [routerLink]="['/consultant-edit', consultant._id]" type="button">Edit</button>
        </td>
      </tr>
      </tbody>
    </table>
</div>
