<div class="container">
  <h1>Consultant List</h1>
  <div>
    <h5>Search: <input type="text" placeholder="Consultant Name" [(ngModel)]="searchTerms"></h5>
  </div>
    <table class="table">
      <thead>
        <th>First Name</th>
        <th [class.active]="order === 'lastName'"
            (click)="setOrder('lastName')"
            class="mdl-data-table__cell--non-numeric">
          Last Name <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
        </th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Region</th>
        <th>Actions</th>
      </thead>
      <tbody>
      <tr *ngFor="let consultant of consultants | orderBy: order:reverse:'case-insensitive'| filter: searchTerms">
        <td>{{ consultant.firstName }}</td>
        <td>{{ consultant.lastName }}</td>
        <td>{{ consultant.phone }}</td>
        <td>{{ consultant.email}}</td>
        <td>{{ consultant.address}}</td>
        <td>{{ consultant.region}}</td>
        <td>
          <button [routerLink]="['/consultant-details', consultant._id]" type="button">Show Details</button>
          <button [routerLink]="['/consultant-edit', consultant._id]" type="button">EDIT</button>
        </td>
      </tr>
      </tbody>
    </table>
</div>
