
#header{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

}
*{
  magin: 0;
  padding: 0;
  border-radius: 5px;
}

nav{
  background-color: white;
  text-align: center;
  padding: 8px;
}

nav li {
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  border-collapse: separate;
  border-spacing: 15px;
  padding: 10px;

  margin-right: 100px;
  width: 150px;

  display: inline-block;
}

nav li a{
  color: black;
  text-decoration: none;
  font-family: arial;
  padding: 15px;
}

nav li:hover{
  text-decoration: underline;
}

@media screen and (max-width: 1100px){

  nav {
    padding: 0;

  }

  nav li{
    display: block;
    padding: 4px;
    background-color: white;
    margin:5px 0;
  }
}
