<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="favicon.ico"></a>
    </div>

    <ul class="nav navbar-nav">
      <li id="nav"><a routerLink="/projects">Projects</a></li>
      <li id="nav"><a routerLink="/assignments">Assignments</a></li>
      <li id="nav"><a routerLink="/consultants">Consultants</a></li>
      <li id="nav"><a routerLink="#">Logout</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
