<!--
Assignment component loads list of assignments for a specific consultant from database.
This html displays a list containing assignment information along with button links to edit that assignments's details.
-->

<div class="container">
  <h1>Assignments - {{assignment.consultantName}}</h1>
  <table class="table">
    <thead>
    <th>Consultant Name</th>
    <th>Project Name</th>
    <th>Language</th>
    <th>Region</th>
    <th>Start Date</th>
    <th>End Date</th>
    </thead>
    <tbody>
    <tr *ngFor="let assignment of assignments">
      <td>{{ assignment.consultantName }}</td>
      <td>{{ assignment.assignmentName }}</td>
      <td>{{ assignment.language }}</td>
      <td>{{ assignment.translationRegion }}</td>
      <td class="date">{{ assignment.startDate }}</td>
      <td>{{ assignment.endDate }}</td>
      <td> <button [routerLink]="['/assignment-edit', assignment._id]" type="button">Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
