/* White background and rounded edges for assignments table. */
div{
  background-color: #FFFFFF;
  border-radius: 5px;
}

/* Green button with rounded edges for edit assignment. */
button{
  background-color: #C1D82F;
  border-radius: 10px;
}

/* Button goes to 50% opacity when hovered over. */
button:hover{
  opacity: .5;
}

/* Cursor changes to pointer finger when hovering over ordering arrows. */
th{
  cursor: pointer;
}
