<!--
Assignment component loads list of assignments for a specific consultant from database.
This html displays a list containing assignment information along with button links to edit that assignments's details.
-->
<div class="container">
  <h1 *ngIf="isConsultantView">Assignments - {{consultantName}}</h1>
  <h1 *ngIf="isProjectView">Assignments - {{projectName}}</h1>
  <h1 *ngIf="isAllView && searchTermsAssigned">Assignments - Unassigned</h1>
  <h1 *ngIf="isAllView && !searchTermsAssigned">Assignments - All</h1>
  <div>
    <h5 *ngIf="!isConsultantView">Unassigned Only: <input type="checkbox" [(ngModel)]="searchTermsAssigned"></h5>
  </div>
  <table class="table">
    <thead>
    <th *ngIf="!isConsultantView">Consultant Name</th>
    <th *ngIf="!isProjectView">Project Name</th>
    <th *ngIf="!isProjectView">Language</th>
    <th *ngIf="!isProjectView">Region</th>
    <th>Media</th>
    <th>Type</th>
    <th>Start Date</th>
    <th>End Date</th>
    </thead>
    <tbody>
    <tr *ngFor="let assignment of assignments | filterAssigned: searchTermsAssigned">
      <td *ngIf="!isConsultantView">{{ assignment.consultantName }}</td>
      <td *ngIf="!isProjectView">{{ assignment.projectName }}</td>
      <td *ngIf="!isProjectView">{{ assignment.language }}</td>
      <td *ngIf="!isProjectView">{{ assignment.translationRegion }}</td>
      <td>{{ assignment.media }}</td>
      <td>{{ assignment.assignmentType }}</td>
      <td>{{ assignment.startDate }}</td>
      <td>{{ assignment.endDate }}</td>
      <td> <button [routerLink]="['/assignment-edit', assignment._id]" type="button">Edit</button></td>
      <td *ngIf="assignment.consultantId=='Unassigned'"> <button [routerLink]="['/assign-consultant', assignment._id]" type="button">Assign</button></td>
    </tr>
    </tbody>
  </table>
</div>
