<!--
Project component loads list of projects from database.
This html displays a list containing project information along with button links to assign a consultant to that project or edit that project's details.
The list is filterable by whether or not a consultant has been assigned to the project.
-->

<div class="container">
  <h1>Project List</h1>
  <div>
    <h5>Unassigned Only: <input type="checkbox" checked [(ngModel)]="searchTermsAssigned"></h5>
  </div>
  <table class="table">
    <thead>
    <th>Project Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Language</th>
    <th>Region</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <tr *ngFor="let project of projects | filterAssigned: searchTermsAssigned">
      <td>{{ project.projectName }}</td>
      <td>{{ project.startDate }}</td>
      <td>{{ project.endDate }}</td>
      <td>{{ project.language}}</td>
      <td>{{ project.translationRegion}}</td>
      <td>
        <button [routerLink]="['/assignment-create/project', project._id]" type="button">Create Assignment</button>
        <button [routerLink]="['/project-edit', project._id]" type="button">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
