<!--
Project component loads list of projects from database.
This html displays a list containing project information along with button link to create an assignment for that project.
Project data is not editable within consultant tracker because projects are managed in another system.
-->

<div class="container">
  <h1>Assignment Needs</h1>
  <table class="table">
    <thead>
    <th>Project Name</th>
    <th>Language</th>
    <th>Region</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <tr *ngFor="let project of projects">
      <td>{{ project.projectName }}</td>
      <td>{{ project.language}}</td>
      <td>{{ project.translationRegion}}</td>
      <td>
        <button [routerLink]="['/assignment-create/project', project._id]" type="button">Create Assignment</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
