<!--
consultant-edit component loads details of a consultant from database. This html displays a consultant's existing information
along with various controls for editing that information. When 'update' button is clicked, changed information is sent
back to the database to be stored.
-->

<div id= "list" class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>{{ consultant.firstName }} {{ consultant.lastName }}</h1>
      <section>
        <!-- Form to update a consultant -->
        <form (ngSubmit)="updateConsultant(consultant._id, consultant)" #consultantForm="ngForm">
          <div class="form-group">

            <!-- Consultant personal information -->
            <label>First Name</label>
            <input type="text" class="form-control" [(ngModel)]="consultant.firstName" name="firstName" required><br>

            <label>Last Name</label>
            <input type="text" class="form-control" [(ngModel)]="consultant.lastName" name="lastName" required><br>

            <label>Phone</label>
            <input type="text" class="form-control" [(ngModel)]="consultant.phone" name="phone" required><br>

            <label>Email</label>
            <input type="text" class="form-control" [(ngModel)]="consultant.email" name="email" required><br>

            <label>Address</label>
            <input type="text" class="form-control" [(ngModel)]="consultant.address" name="address" required><br>

            <label>Biography</label>
            <input type="text" class="form-control" [(ngModel)]="consultant.biography" name="biography" required><br>

            <label>Company</label>
            <input type="text" class="form-control" [(ngModel)]="consultant.companyName" name="companyName" required><br>

            <label class="checkbox-inline">
              <input type="checkbox" [(ngModel)]="consultant.isActive" name="isActive">Active Status
            </label>
          </div>

          <!-- Consultant supervisor information-->
          <div class="form-group">
            <h2>Supervisor</h2>

            <label>First Name</label>
            <input type="text" class="form-control" [(ngModel)]="consultant.supervisorFirstName" name="supervisorFirstName" required><br>

            <label>Last Name</label>
            <input type="text" class="form-control" [(ngModel)]="consultant.supervisorLastName" name="supervisorLastName" required><br>

            <label>Email</label>
            <input type="text" class="form-control" [(ngModel)]="consultant.supervisorEmail" name="supervisorEmail" required><br>

            <label>Phone</label>
            <input type="text" class="form-control" [(ngModel)]="consultant.supervisorPhone" name="supervisorPhone" required><br>
          </div>

          <!-- Consultant language proficiencies -->
          <div>
          <h2>Translation Proficiencies</h2>
          <br>
          <h3>Add/Update Language</h3>
          <select id="language" required [(ngModel)]="currentLanguage.language" name="language">
            <option [selected]="selected">Language</option>
            <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
          </select>
          <select id="speaking" required [(ngModel)]="currentLanguage.speaking" name="speaking">
            <option [selected]="selected">Speaking</option>
            <option *ngFor="let ranking of rankings" [value]="ranking.value">{{ ranking.level }}</option>
          </select>
          <select id="listening" required [(ngModel)]="currentLanguage.listening" name="listening">
            <option [selected]="selected">Listening</option>
            <option *ngFor="let ranking of rankings" [value]="ranking.value">{{ ranking.level }}</option>
          </select>
          <select id="writing" required [(ngModel)]="currentLanguage.writing" name="writing">
            <option [selected]="selected">Writing</option>
            <option *ngFor="let ranking of rankings" [value]="ranking.value">{{ ranking.level }}</option>
          </select>
          <select id="reading" required [(ngModel)]="currentLanguage.reading" name="reading">
            <option [selected]="selected">Reading</option>
            <option *ngFor="let ranking of rankings" [value]="ranking.value">{{ ranking.level }}</option>
          </select>
          <button *ngIf="currentLanguage.language != 'Language' &&
                         currentLanguage.speaking != 'Speaking' &&
                         currentLanguage.listening != 'Listening' &&
                         currentLanguage.reading != 'Reading' &&
                         currentLanguage.writing != 'Writing'
                        " type="button" (click)="addLanguage(currentLanguage)">Add/Update</button>
          <br><br>
          <h3>Languages</h3>
          <table class="table" id="languageTable">
            <thead>
            <th>Language</th>
            <th>Speaking</th>
            <th>Listening</th>
            <th>Writing</th>
            <th>Reading</th>
            </thead>
            <tr *ngFor="let proficiency of consultant.proficiencies" (click)="setCurrentLanguage(proficiency)">
              <td>{{ proficiency.language }}</td>
              <td *ngIf="proficiency.speaking == 1">Beginner</td>
              <td *ngIf="proficiency.speaking == 2">Novice</td>
              <td *ngIf="proficiency.speaking == 3">Adept</td>
              <td *ngIf="proficiency.speaking == 4">Fluent</td>
              <td *ngIf="proficiency.listening == 1">Beginner</td>
              <td *ngIf="proficiency.listening == 2">Novice</td>
              <td *ngIf="proficiency.listening == 3">Adept</td>
              <td *ngIf="proficiency.listening == 4">Fluent</td>
              <td *ngIf="proficiency.writing == 1">Beginner</td>
              <td *ngIf="proficiency.writing == 2">Novice</td>
              <td *ngIf="proficiency.writing == 3">Adept</td>
              <td *ngIf="proficiency.writing == 4">Fluent</td>
              <td *ngIf="proficiency.reading == 1">Beginner</td>
              <td *ngIf="proficiency.reading == 2">Novice</td>
              <td *ngIf="proficiency.reading == 3">Adept</td>
              <td *ngIf="proficiency.reading == 4">Fluent</td>
              <td><button type="button" (click)="removeLanguage(proficiency.language)">Remove</button></td>
            </tr>
          </table>

          <div class="form-group">
            <label>Consultant Notes</label>
            <input type="text" class="form-control" [(ngModel)]="consultant.notes" name="notes" required>
          </div>

            <!-- Consultant Region Selection-->
            <div class="form-group">
              <h3>Region</h3>
              <input type="radio" name="region" [(ngModel)]="consultant.translationRegion" value="Global"> Global<br>
              <input type="radio" name="region" [(ngModel)]="consultant.translationRegion" value="Africa"> Africa<br>
              <input type="radio" name="region" [(ngModel)]="consultant.translationRegion" value="Americas"> Americas<br>
              <input type="radio" name="region" [(ngModel)]="consultant.translationRegion" value="Asia"> Asia<br>
              <input type="radio" name="region" [(ngModel)]="consultant.translationRegion" value="Asia - Mainland"> Asia - Mainland<br>
              <input type="radio" name="region" [(ngModel)]="consultant.translationRegion" value="Asia - South"> Asia - South<br>
              <input type="radio" name="region" [(ngModel)]="consultant.translationRegion" value="Eurasia"> Eurasia<br>
              <input type="radio" name="region" [(ngModel)]="consultant.translationRegion" value="Europe"> Europe<br>
              <input type="radio" name="region" [(ngModel)]="consultant.translationRegion" value="Pacific"> Pacific
            </div>

            <!-- Consultant Media Selection -->
            <div class="form-group">
              <h3>Media</h3>
              <label class="checkbox-inline">
                <input type="checkbox" [(ngModel)]="consultant.isWrittenMedia" name="isWrittenMedia">Written<br>
                <input type="checkbox" [(ngModel)]="consultant.isAudioMedia" name="isAudioMedia">Audio<br>
                <input type="checkbox" [(ngModel)]="consultant.isStorytellingMedia" name="isStorytellingMedia">Storytelling
              </label>
            </div>

            <!-- Consultant Role Selection-->
            <div class="form-group">
            <h3>Roles</h3>
              <label class="checkbox-inline">
                <input type="checkbox" [(ngModel)]="consultant.isAudioToAudioRole" name="isAudioToAudioRole">Audio to Audio Translation Consultant<br>
                <input type="checkbox" [(ngModel)]="consultant.isGuestScholarRole" name="isGuestScholarRole">Guest Scholar (Exegetical, Linguistic, Bible)<br>
                <input type="checkbox" [(ngModel)]="consultant.isLinguisticConsultantRole" name="isLinguisticConsultantRole">Linguistic Consultant<br>
                <input type="checkbox" [(ngModel)]="consultant.isManagerRole" name="isManagerRole">Manager - Translation Consultant<br>
                <input type="checkbox" [(ngModel)]="consultant.isStoryCheckerRole" name="isStoryCheckerRole">Story Checker<br>
                <input type="checkbox" [(ngModel)]="consultant.isTranslationConsultantInTrainingRole" name="isTranslationConsultantInTrainingRole">Translation CiT<br>
                <input type="checkbox" [(ngModel)]="consultant.isTranslationConsultantRole" name="isTranslationConsultantRole">Translation Consultant
              </label>
            </div>
          </div>

          <div class="form-group">
            <button type="submit">Update</button>
          </div>
        </form>
        <button type="button" (click)="this._location.back();">Cancel</button>
      </section>
    </div>
  </div>
</div>
