body {
  margin:0px;
  background-color:rgba(125, 148, 23, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:793px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:793px;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:100px;
  width:1200px;
  height:600px;
  color:#000000;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:520px;
  width:543px;
  height:35px;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:35px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:35px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:253px;
  word-wrap:break-word;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:0px;
  width:119px;
  height:35px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:0px;
  width:40px;
  height:35px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:0px;
  width:60px;
  height:35px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:0px;
  width:67px;
  height:35px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:right;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:274px;
  width:108px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:right;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#636866;
  text-align:left;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:131px;
  width:357px;
  height:52px;
  font-size:36px;
  color:#636866;
  text-align:left;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:353px;
  word-wrap:break-word;
}
#u479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#636866;
  text-align:left;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:131px;
  width:396px;
  height:44px;
  font-size:36px;
  color:#636866;
  text-align:left;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:392px;
  word-wrap:break-word;
}
#u480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:right;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:185px;
  width:103px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:right;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:right;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:230px;
  width:103px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:right;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:right;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:275px;
  width:103px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:right;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:right;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:365px;
  width:108px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:right;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:274px;
  width:414px;
  height:32px;
}
#u484_input {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:left;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:492px;
  width:84px;
  height:28px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:left;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:31px;
  background:inherit;
  background-color:rgba(193, 216, 47, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:645px;
  width:146px;
  height:31px;
  font-size:14px;
  color:#000000;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:142px;
  word-wrap:break-word;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:365px;
  width:414px;
  height:117px;
}
#u487_input {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:117px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:right;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:320px;
  width:108px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:right;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:320px;
  width:414px;
  height:32px;
}
#u489_input {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:right;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:319px;
  width:103px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:right;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:319px;
  width:414px;
  height:33px;
}
#u491_input {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:33px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:185px;
  width:414px;
  height:33px;
}
#u492_input {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:33px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:230px;
  width:414px;
  height:33px;
}
#u493_input {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:33px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:275px;
  width:414px;
  height:33px;
}
#u494_input {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:33px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:right;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:185px;
  width:118px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:right;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:right;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:229px;
  width:118px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#636866;
  text-align:right;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:185px;
  width:414px;
  height:32px;
}
#u497_input {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:229px;
  width:414px;
  height:32px;
}
#u498_input {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:31px;
  background:inherit;
  background-color:rgba(193, 216, 47, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:645px;
  width:67px;
  height:31px;
  font-size:14px;
  color:#000000;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:564px;
  width:252px;
  height:28px;
}
#u500_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:602px;
  width:252px;
  height:28px;
}
#u501_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:564px;
  width:109px;
  height:28px;
}
#u502_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:602px;
  width:109px;
  height:28px;
}
#u503_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:564px;
  width:29px;
  height:28px;
}
#u504_input {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:602px;
  width:29px;
  height:28px;
}
#u505_input {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:564px;
  width:51px;
  height:28px;
}
#u506_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:602px;
  width:51px;
  height:28px;
}
#u507_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:570px;
  width:75px;
  height:16px;
}
#u508_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u508_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:608px;
  width:75px;
  height:16px;
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u509_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:639px;
  width:252px;
  height:28px;
}
#u510_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:639px;
  width:109px;
  height:28px;
}
#u511_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:639px;
  width:29px;
  height:28px;
}
#u512_input {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:639px;
  width:51px;
  height:28px;
}
#u513_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:645px;
  width:75px;
  height:16px;
}
#u514_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u514_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#636866;
  text-align:right;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:639px;
  width:43px;
  height:28px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#636866;
  text-align:right;
}
#u515_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:39px;
  word-wrap:break-word;
}
