<div class="container" id="div2">
  <dl class="list" id="columns">
    <h1>{{ consultant.firstName }} {{consultant.lastName }}</h1>
    <dt>Phone:</dt>
    <dd>{{ consultant.phone }}</dd>
    <dt>Email:</dt>
    <dd>{{ consultant.email }}</dd>
    <dt>Address:</dt>
    <dd>{{ consultant.address }}</dd>
    <dt>Region:</dt>
    <dd>{{ consultant.translationRegion }}</dd>
    <dt>Biography:</dt>
    <dd>{{ consultant.biography }}</dd>
    <dt>Company Name:</dt>
    <dd>{{ consultant.companyName}}</dd>
    <dt><input type="checkbox" disabled="disabled" [(ngModel)]="consultant.isActive" name="isActive"> Active</dt>
    <dd></dd>
    <h2>Supervisor Information</h2>
    <dt>Name:</dt>
    <dd>{{ consultant.supervisorFirstName }} {{ consultant.supervisorLastName }}</dd>
    <dt>Email:</dt>
    <dd>{{ consultant.supervisorEmail }}</dd>
    <dt>Phone:</dt>
    <dd>{{ consultant.supervisorPhone }}</dd>
    <h2>Translation Proficiencies</h2>
    <h3>Language Proficiencies</h3>
    <table class="table" id="languageTable">
      <thead>
      <th>Language</th>
      <th>Speaking</th>
      <th>Listening</th>
      <th>Writing</th>
      <th>Reading</th>
      </thead>
      <tr *ngFor="let proficiency of consultant.proficiencies">
        <td>{{ proficiency[0] }}</td>
        <td>{{ proficiency[1] }}</td>
        <td>{{ proficiency[2] }}</td>
        <td>{{ proficiency[3] }}</td>
        <td>{{ proficiency[4] }}</td>
      </tr>
    </table>
    <h3>Testaments</h3>
    <dt><input type="checkbox" disabled="disabled" [(ngModel)]="consultant.isOldTestament" name="isOldTestament"> Old Testament</dt>
    <dt><input type="checkbox" disabled="disabled" [(ngModel)]="consultant.isNewTestament" name="isNewTestament"> New Testament</dt>
    <h3>Media</h3>
    <dt><input type="checkbox" disabled="disabled" [(ngModel)]="consultant.isWrittenMedia" name="isWrittenMedia"> Written</dt>
    <dt><input type="checkbox" disabled="disabled" [(ngModel)]="consultant.isAudioMedia" name="isAudioMedia"> Audio</dt>
    <dt><input type="checkbox" disabled="disabled" [(ngModel)]="consultant.isStorytellingMedia" name="isStorytellingMedia"> Storytelling</dt>
    <h3>Roles</h3>
    <dt><input type="checkbox" disabled="disabled" [(ngModel)]="consultant.isAudioToAudioRole" name="isAudioToAudioRole"> Audio to Audio Translation Consultant</dt>
    <dt><input type="checkbox" disabled="disabled" [(ngModel)]="consultant.isGuestScholarRole" name="isGuestScholarRole"> Guest Scholar (Exegetical, Linguistic, Bible)</dt>
    <dt><input type="checkbox" disabled="disabled" [(ngModel)]="consultant.isLinguisticConsultantRole" name="isLinguisticConsultantRole"> Linguistic Consultant</dt>
    <dt><input type="checkbox" disabled="disabled" [(ngModel)]="consultant.isManagerRole" name="isManagerRole"> Manager - Translation Consultant</dt>
    <dt><input type="checkbox" disabled="disabled" [(ngModel)]="consultant.isStoryCheckerRole" name="isStoryCheckerRole"> Story Checker</dt>
    <dt><input type="checkbox" disabled="disabled" [(ngModel)]="consultant.isTranslationConsultantInTrainingRole" name="isTranslationConsultantInTrainingRole"> Translation Consultant in Training</dt>
    <dt><input type="checkbox" disabled="disabled" [(ngModel)]="consultant.isTranslationConsultantRole" name="isTranslationConsultantRole"> Translation Consultant</dt>
    <dt>Update Date</dt>
    <dd>{{ consultant.updated_date }}</dd>
  </dl>
</div>
